<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-template todo-form bg-light">
    <div class="form-group float-item me-2 mb-3 fw-bold">
      <%= f.label "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
    </div>

    <div class="form-group float-item me-2 mb-3 fw-bold">
      <%= f.label "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group float-item me-2 mb-3 fw-bold">
        <%= f.check_box :remember_me %>
        <%= f.label "ユーザーを記憶する" %>
      </div>
    <% end %>

    <div class="actions submit-button text-center">
      <%= f.submit "ログイン", class: "btn-lg btn-warning mt-2" %>
    </div>
  </div>
<% end %>

<%= render "users/shared/links" %>
