<h1>やること一覧</h1>
<table class='table-set'>
  <tr>
    <th width='25%'>タスク名</th>
    <th width='40%'>メモ</th>
    <th width='10%'>優先度</th>
    <th width='20%'>期日</th>
    <th width='5%'>成長ボタン</th>
  </tr>
<% @todos.each do |todo| %>
  <% if !todo.is_completed %>
    <tr>
      <td><%= todo.task %></td>

      <td><%= todo.memo %></td>

      <td><%= todo.priority %></td>

      <td><%= todo.due %></td>

      <td><%= link_to '成長', todo_path(todo.id), method: :delete, data: { confirm: "完了しましたか？" } %></td>
    </tr>
  <% end %>
  
<% end %>
<%= link_to 'やることの登録', new_todo_path %> |
<%= link_to 'スタンプラリー', users_stamp_path %> |
<% if current_user.points >= 10 %>
  <%= link_to "ポケモンガチャ(#{ current_user.points / 10 }回)", new_pokemon_path %> |
<% end %>
<%= link_to 'ポケモン一覧', pokemons_path %>