<div class="background-photo">
  <h2>伸び代一覧</h2>
  <table class='table-set'>
    <tr>
      <th class="width25">タスク名</th>
      <th class="width40">メモ</th>
      <th class="width10">優先度</th>
      <th class="width20">期日</th>
      <th class="width5">成長ボタン</th>
    </tr>
  <% @todos.each do |todo| %>
    <% if !todo.is_completed %>
      <tr>
        <td><%= todo.task %></td>

        <td><%= todo.memo %></td>

        <td><%= todo.priority %></td>

        <td><%= todo.due %></td>

        <td><%= link_to '成長', todo_path(todo.id), {method: :delete, class: "btn-sf-like", data: { confirm: "完了しましたか？" }} %></td>
      </tr>
    <% end %>
    
  <% end %>

  <div class="row">
    <div class="col-md-4 text-center"><%= link_to 'やることの登録', new_todo_path, class: "btn btn--orange btn--cubic" %></div>
    <div class="col-md-4 text-center">
      <% if current_user.points >= 10 %>
        <%= link_to "ガチャ(#{ current_user.points / 10 }回)", new_pokemon_path, class: "btn btn-gatya-3d" %>
      <% else %>
        <p>ガチャには<%= 10 - current_user.points %>ポイント足りません。</p>
      <% end %>
    </div>
  </div>
</div>