<h2>取得した飲食店</h2>
<div class='card-group col-md-4' style="width: 100%;">
  <% @restaurants.each_with_index do |res, ind| %>
    <div class="card animate__bounceIn" style="width: 15rem;">
      <svg class="bd-placeholder-img card-img-top" width="50" height="50" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
        <title>Restaurant</title>
        <%= image_tag res.photo %>
      </svg>
      <div class="card-body text-center">
        <h5 class="card-title"><%= res.name %></h5>
        <p class="card-text">ジャンル: <%= res.genre %></p>
        <p class="card-text">予算: <%= res.budget %></p>
        <p class="card-text">住所: <%= res.address %></p>
        <p class="card-text">メッセージ: <%= res["catch"] %></p>
        <p><%= link_to "店舗URL", res.url, target: :_blank %></p>
        <%= link_to '飲食店一覧', pokemons_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <% if (ind+1) % 6 == 0 %>
      <div class="w-100"></div>
    <% end %>
  <% end %>
  <% if (@restaurants.count % 6) != 0%>
    <% (6 - @restaurants.count % 6).times do |card| %>
      <div class="card animate__bounceIn" style="width: 15rem;">
        <svg class="bd-placeholder-img card-img-top" width="50" height="50" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
          <title>Restaurant</title>
          <%= image_tag 'white2.jpg' %>
        </svg>
        <div class="card-body text-center">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    <% end %>
  <% end %>

</div>