<h2>ポケモンガチャ</h2>
<div class="text-center mt-5">
  <div>
    <%= link_to "ガチャを引く", pokemons_path, {method: :post, class: 'btn-gatya-3d'} %>
  </div>
  <h3 class="mt-3">あなたはあと<%= current_user.points / 10 %>回引けます</h3>
</div>
<% if Pokemon.count > 0 %>
  <% rand_int = rand(1..Pokemon.all.count) %>
  <div class="move-right">
    <%= image_tag Pokemon.find(rand_int).img %>
  </div>
  <% rand_int = rand(1..Pokemon.all.count) %>
  <div class="move-left">
    <%= image_tag Pokemon.find(rand_int).img %>
  </div>
  <% rand_int = rand(1..Pokemon.all.count) %>
  <div class="move-right">
    <%= image_tag Pokemon.find(rand_int).img %>
  </div>
<% end %>