<nav class="navbar navbar-expand-lg navbar-light bg-light m-0 p-0">
  <div class="container-fluid m-0" style="background-color: rgb(255, 102, 0); height: 80px;">
    <% if current_user.present? %>
      <%= link_to todos_path do %><%= image_tag "cooltext393458153403762.png", class: "header-logo" %><% end %>
    <% else %>
      <%= link_to root_path do %><%= image_tag "cooltext393458153403762.png", class: "header-logo" %><% end %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row-right text-align" id="navbarSupportedContent">
      <% if current_user.present? %>
        <%= link_to "Home", todos_path, class:'nav-link active text-white'%>
        <p class="text-success mb-0 p-3">|</p>
        <%= link_to "ポケモン一覧", pokemons_path , class:'nav-link active text-white'%>
        <p class="text-success mb-0 p-3">|</p>
        <p class="text-white mb-0"><%= current_user.name %> さん</p>
        <p class="text-success mb-0 p-3">|</p>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link active text-white' %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path, class:'nav-link active text-white' %>
      <% end %>
    </div>
  </div>
</nav>